@import "bootstrap-custom";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 5px;
}

.vote-arrows {
  width: 40px;
  text-align: center;
}

.favorite { margin-top: 10px; }
.voted { opacity: 0.5; }
.comment-meta { opacity: 0.5; color: #f3f3f3;}